		<footer id="footer">
			<div class="inner">
				<div class="content">
					<section>
						<h3>East Essex Hackspace</h3>
						<p>A community workshop space for hobbies and skill sharing, based in Hawkwell, Essex. <a href="{{ '/about/' | relative_url }}">Read our story, accessibility info and charitable status &raquo;</a></p>
					</section>
					<section>
						<h4>Useful Pages</h4>
						<ul class="alt">
							{% for item in site.data.footer_links %}
							{% unless item.url == page.url %}
							<li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
							{% endunless %}
							{% endfor %}
						</ul>
					</section>
					<section>
						<h4>Follow Us</h4>
						<ul class="plain">
							{% for item in site.data.social %}
							<li><a href="{{ item.url }}"><i class="icon {{ item.icon }}">&nbsp;</i>{{ item.name }}</a></li>
							{% endfor %}
						</ul>
					</section>
				</div>
				<div class="copyright">
					&copy; {{ site.time | date: "%Y" }} East Essex Hackspace
				</div>
			</div>
		</footer>
