<footer class="site-footer">
  <div class="inner">
    <section>
      <h2>East Essex Hackspace</h2>
      <p>A volunteer-run community workshop for hobbies and skill sharing, based in Hawkwell, Essex.</p>
      <p>Email <a href="mailto:info@eehack.space">info@eehack.space</a></p>
    </section>
    <section>
      <h2>Pages</h2>
      <ul>
		{% for item in site.data.footer_links %}
		{% unless item.url == page.url %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
		{% endunless %}
		{% endfor %}
      </ul>
    </section>
    <section>
      <h2>Follow us</h2>
      <ul class="social-links">
        {% for item in site.data.social %}
        <li><a href="{{ item.url }}"><i class="fa-brands {{ item.icon }}" aria-hidden="true"></i> {{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>
  <div class="legal">
    <p>East Essex Hackspace is a registered charity (<a href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5163217/charity-overview">1190927</a>) and a charitable incorporated organisation registered in England &amp; Wales (<a href="https://find-and-update.company-information.service.gov.uk/company/CE023644">CE023644</a>). Registered office: Park Gardens, Hockley, Essex SS5 4HF.</p>
    <p>© 2026 East Essex Hackspace</p>
  </div>
</footer>