<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<title>{{ page.title }} | {{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="{{ page.description | default: site.description }}" />
		<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
	</head>
	<body class="is-preload">

		{% include header.html %}
		{% include nav.html %}

		{{ content }}

		{% include footer.html %}

		<!-- Scripts -->
			<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
			<script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
			<script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
			<script src="{{ '/assets/js/util.js' | relative_url }}"></script>
			<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

	</body>
</html>
